*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Popins', sans-serif;
    background: #bed1e2;
}

.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right:20px;
}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}

.single-product{
    margin-top: 30px;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product h4{

    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #4023e5;
}

input:focus{
    outline: none;
}
a{
    text-decoration: none;
    color: #555;
}
.single-product .fa{
    color: #4023e5;
    margin-left: 10px;

}
p{
    color: #555;
}

.dugme{
    display: inline-block;
    background: #4023e5;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 1s;
    width: 200px;
    text-align: center;

}

.dugme:hover{
    background:#563434;
}

.container{
    width: 100%;
    min-height: 102vh;
    background: linear-gradient( 45deg, #549ce0, #b7dafc);
    color: rgb(39, 71, 177);
    position: relative;
}

.navigation{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -15px;
    margin-right: 12px;
    background: #b2c5d5;
}

.menu-icon{
    cursor: pointer;
    width: 30px;
    margin-left: 60px;
}

.nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    align-items: right;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-style: italic;
}

nav ul li a{
    text-decoration: none;
    color: darkblue;
    text-shadow: 2px 2px white;
    font-size: 19px;
    padding: 5px 2px;
}

nav ul li a:hover{
    color: white;
    text-shadow: 2px 2px darkblue;
}

i:hover{
    color: white;
    text-shadow: 2px 2px darkblue;
}



.rows{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.columns{
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}

.text-box{
    max-width: 400px;
    margin-top: 100px;
}

.text-box h4{
    color: rgb(253, 253, 253);
}

.text-box h1{
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 40px;
}

/* SHOPPING CART */
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 340px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    transition: 0.3s;
    /*box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);*/
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 33px;
    margin-top: 1rem;
    color: black;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 10px;
}

.cart-product-title{
    font-size: 1.2rem;
}

.cart-quantity{
    border: 1px solid black;
    outline-color: blue;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title{
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.total-price{
    margin-left: 0.5rem;
}

.purchase-btn{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    background: #549ce0;
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

.purchase-btn:hover{
    background: black;
    color: white;
    text-shadow: 2px 2px #549ce0;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 25px;
    cursor: pointer;

}
form{
    margin-right: 50px;
    margin-top: 60px;
    text-align: justify;
    height: 40px;



}
select{
 margin: auto;
 border: black;
 font-weight: bold;
 font-style: italic;
cursor: pointer;
width: 55px;   
height: 25px;
}